<section class="footer" id="contact">
  <div class="container contact-wrapper">
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          <h2>GET IN TOUCH</h2>
          <hr>
          <p>Do you have questions or would you like
            to get more information? Send me a message,
            and I’ll reply to you as soon as possible.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form">
          <%= form_tag user_path, method:"post" do %>

          <%= text_field_tag :email, params[:email], placeholder: "EMAIL", required:"true" %><br>
          <%= text_field_tag :name, params[:name], placeholder: "NAME", class: "name", required:"true" %><br>
          <%= text_field_tag :subject, params[:subject], placeholder: "SUBJECT", class: "subject", required:"true" %><br>
          <%= text_area_tag :message, params[:message], placeholder: "MESSAGE", required:"true" %><br>

           <%= submit_tag "SEND", class: "btn submit-btn", id: "send-btn" %>
         <% end %>


         </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container copyright-wrapper">
      <ul class="nav navbar-nav">
        <li class="menu-icon" id="home-icon">
          <%= link_to root_path do %>
          <span class="<%= current_page?(root_path) ? 'nav-icon' : ' ' %>">
            <i class="fa fa-home" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>
      </ul>

      <p id="copyright">© Copyright Heba Smit. All rights reserved</p>

      <!-- right menu -->
      <ul class="nav navbar-nav navbar-right">
        <!-- Facebook -->
        <li class="menu-icon">
          <%= link_to "https://www.facebook.com/heba.smit", target:"_blank" do %>
          <span class="<%= current_page?(root_path) ? 'nav-icon' : ' ' %>">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>
        <!-- Linkedin -->
        <li class="menu-icon">
          <%= link_to "https://www.linkedin.com/in/heba-smit-176994b1?trk=nav_responsive_tab_profile_pic", target:"_blank" do %>
          <span class="<%= current_page?(root_path) ? 'nav-icon' : ' ' %>">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>
      </ul>
    </div><!-- end of container -->
  </div><!-- end of container-fluid -->
</section><!-- end of footer -->
