<nav id="<%= current_page?(portfolio_path) ? 'port-nav' : 'main-nav'%>" class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">

    <!-- Brand -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Menu -->
    <div class="collapse navbar-collapse">
      <!-- left menu -->
      <ul class="nav navbar-nav">
        <li class="menu-icon" id="home-icon">
          <%= link_to root_path do %>
          <span class="<%= current_page?(portfolio_path) ? ' ' : 'nav-icon' %>">
            <i class="fa fa-home" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>

        <%= content_tag :li, class: "menu-item" do %>
          <%= link_to "Portfolio", portfolio_path, class:"#{current_page?(portfolio_path) ? ' ' : 'nav-item'}"  %>
        <% end %>
        <%= content_tag :li, class: "menu-item" do %>
          <%= link_to "My Story", about_path, class:"#{current_page?(portfolio_path) ? ' ' : 'nav-item'}" %>
        <% end %>
      </ul>
      <!-- end of left menu -->

      <!-- right menu -->
      <ul class="nav navbar-nav navbar-right">

        <!-- contact -->
        <%= content_tag :li, class: "menu-item" do %>
          <%= link_to "Contact", "#contact", class:"#{current_page?(portfolio_path) ? ' ' : 'nav-item'}" %>
        <% end %>

        <!-- Facebook -->
        <li class="menu-icon">
          <%= link_to "https://www.facebook.com/heba.smit", target:"_blank" do %>
          <span class="<%= current_page?(portfolio_path) ? ' ' : 'nav-icon' %>">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>

        <!-- Linkedin -->
        <li class="menu-icon">
          <%= link_to "https://www.linkedin.com/in/heba-smit-176994b1?trk=nav_responsive_tab_profile_pic", target:"_blank" do %>
          <span class="<%= current_page?(portfolio_path) ? ' ' : 'nav-icon' %>">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </span>
          <% end %>
        </li>


      </ul>
      <!-- end of right menu -->

    </div><!-- end of navbar collapse -->
  </div><!-- end of container-fluid -->
</nav><!-- end of main navigation -->
