
  <div class="row">
    <div class="col-sm-4 col-xs-6">
      <%= link_to portfolio_heba_path do %>
      <div class="project heba">
        <%= image_tag('home/heba.jpg') %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-6">
      <%= link_to portfolio_hello_path do %>
      <div class="project hello">
        <%= image_tag('home/hello.jpg') %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-6">
      <%= link_to portfolio_uteeni_path do %>
      <div class="project uteeni">
        <%= image_tag('home/uteeni.jpg') %>
      </div>
      <% end %>
    </div>

    <div class="col-sm-4 col-xs-6">
      <%= link_to portfolio_harvester_path do %>
      <div class="project harvester">
        <%= image_tag('home/harvester.jpg') %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-6">
      <%= link_to portfolio_connectica_path do %>
      <div class="project connectica">
        <%= image_tag('home/connectica.jpg') %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-6">
      <%= link_to portfolio_raja_path do %>
      <div class="project raja">
        <%= image_tag('home/raja.jpg') %>
      </div>
      <% end %>
    </div>
  </div><!-- end of row -->
