<section class="portfolio more">
  <div class="container">
    <center>
      <h2>MORE PROJECTS</h2>
      <hr>
      <div class="row">
        <div class="col-sm-4 col-xs-6 col-xxs-12">
          <%= link_to portfolio_heba_path do %>
          <div class="project heba">
            <%= image_tag('home/heba2.jpg') %>
          </div>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-6 col-xxs-12">
          <%= link_to portfolio_hello_path do %>
          <div class="project hello">
            <%= image_tag('home/hello.jpg') %>
          </div>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-6 col-xxs-12">
          <%= link_to portfolio_uteeni_path do %>
          <div class="project uteeni">
            <%= image_tag('home/uteeni.jpg') %>
          </div>
          <% end %>
        </div>
      </div><!-- end of row -->
    </center>
  </div><!-- end of container -->
</section>
