<!-- HOME PAGE --->

<!-- Intro -->
<section class="home-header">
  <center>
      <%= image_tag('home/macbook-header4.png', id: "trigger") %>
      <div class="content">
        <h3>HI, I'M</h3>
        <h1>HEBA
        </h1>
        <hr>
        <p class="subheading">I am a web designer and frontend developer. I bring ideas to life.</p>
    </div>
  </center>
</section>
<!-- End of intro -->

<!-- Skills -->
<section class="skills">
  <div class="container">
    <div class="row">
      <center>
        <div class="col-sm-4 skill">
          <%= image_tag('development-icon-bold.png') %>
          <br>
          <h5>DEVELOPMENT</h5>
          <p>I work frontend with HTML, CSS and Javascript, but I’ve also created web apps with Ruby on Rails.</p>
        </div>
        <div class="col-sm-4 skill">
          <%= image_tag('responsive-icon-bold.png') %>
          <br>
          <h5>RESPONSIVE</h5>
          <p>I think mobile first. That way I can make sure that my work looks great on all devices and desktops.</p>
        </div>
        <div class="col-sm-4 skill">
          <%= image_tag('design-icon-bold.png') %>
          <br>
          <h5>DESIGN</h5>
          <p>Design is my passion. I use the latest UX/UI design principles to give users a great online experience.</p>
        </div>
    </center>
    </div>
  </div>
</section>
<!-- End of skills -->

<%= render 'partials/recommendations' %>

<!-- Portfolio -->
<section class="portfolio">
  <div class="container">
    <center>

      <div class="content">
        <h2>PORTFOLIO</h2>
        <hr>
        <p class="subheading">View a collection of my latest and favorite design and development projects</p>
      </div><!-- end of content -->
      <br>

      <%= render 'partials/portfolio' %>

    </center>
  </div><!-- end of container -->
</section>
<!-- End of portfolio -->
