<section class="project-header connectica">
  <center>
    <div class="content trigger">
      <h3>PROJECT</h3>
      <h1>CONNECTICA
      <!-- <span>AGENCY</span> -->
      </h1>
      <hr>
      <%= image_tag('projects/development-white.png', class: 'development-icon') %>
      <%= image_tag('projects/responsive-white.png', class: 'responsive-icon') %>
      <%= image_tag('projects/design-white.png', class: 'design-icon') %>
    </div>
  </center>
</section>

<section class="project-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 about text">
        <h2>ABOUT</h2>
        <p>Connectica Agency is an international web design agency based in Bangkok and responsible for client and in-house startup projects such as UTEENI and Harvester. Main features:</p>
        <ul>
          <li>Static site</li>
          <li>(Mobile) responsive</li>
          <li>Email functionality (Mandrill)</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <%= image_tag('projects/connectica-mac.png', class: "img-responsive") %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-push-6 text skills">
        <h2>SKILLS</h2>
        <ul>
          <li>Frontend web development <br> (HTML, CSS)</li>
          <li>responsive design and development</li>
          <li>Browser testing</li>
          <li>UX/UI design</li>
        </ul>
      </div>
      <div class="col-sm-6 col-sm-pull-6">
        <%= image_tag('projects/connectica-mobile.png', class: "img-responsive project-mobile") %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 challenges text">
        <h2>CHALLENGES</h2>
        <p>The short time frame in which the site was built, required me to make quick decisions on the UI and development of the project.</p>
        <%= link_to 'http://agency.connectica.no', target: "_blank", class: "view-site" do %>
          view agency.connectica.no <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= image_tag('projects/connectica-tablet.png', class: "img-responsive project-tablet") %>
      </div>
    </div>
  </div>
</section>

<%= render 'partials/portfolio_more_1' %>
