<section class="project-header heba">
  <center>
    <div class="content" id="trigger">
      <h3>PROJECT</h3>
      <h1>HEBA
      </h1>
      <hr>
      <%= image_tag('projects/development-icon-white.png', class: 'development-icon') %>
      <%= image_tag('projects/responsive-icon-white.png', class: 'responsive-icon') %>
      <%= image_tag('projects/design-icon-white.png', class: 'design-icon') %>
    </div>
  </center>
</section>

<section class="project-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text">
        <h2>ABOUT</h2>
        <p>I love trying new looks and changing things up. Though still a work in progress, I am currently redesigning my site, and learning new things as I do. New features:</p>
        <ul>
          <li>Three-step Carousel</li>
          <li>Blog</li>
        </ul>

        <br>
        <br>

        <h2>SKILLS</h2>
        <ul>
          <li>Illustrator</li>
          <li>Photoshop</li>
          <li>UX/UI design</li>
        </ul>

        <br>
        <br>

        <h2>CHALLENGES</h2>
        <p>I find it hard to treat myself as I would my own client as I tend to change my mind easily when it comes to my own projects. So I decided to publish my draft to demonstrate my design skills and push myself to finalize the project. </p>
      </div>

      <div class="col-sm-6">
        <%= image_tag('projects/heba-landing.png', class: "img-responsive") %>
      </div>
    </div>
  </div>
</section>

<%= render 'partials/portfolio_more_2' %>
