<section class="projects-header">
  <center>
    <div class="content trigger">
      <h3>THIS IS MY</h3>
      <h1>PORTFOLIO
      </h1>
      <hr>
      <p>View a collection of my latest and favorite design and<br> development projects</p>
    </div>
  </center>
</section>

<section class="portfolio">
  <div class="container">
    <center>

      <br>
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          <%= link_to '/projects/heba' do %>
          <div class="project heba">
            <%= image_tag('home/heba.jpg') %>
          </div>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-6">
          <%= link_to '/projects/hello' do %>
          <div class="project hello">
            <%= image_tag('home/hello.jpg') %>
          </div>
          <% end %>
        </div>
        <div class="col-sm-4 col-xs-6">
          <%= link_to '/projects/uteeni' do %>
          <div class="project uteeni">
            <%= image_tag('home/uteeni.jpg') %>
          </div>
          <% end %>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="project harvester">
            <%= image_tag('home/harvester.jpg') %>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="project connectica">
            <%= image_tag('home/connectica.jpg') %>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="project raja">
            <%= image_tag('home/raja.jpg') %>
          </div>
        </div>
      </div><!-- end of row -->
    </center>
  </div><!-- end of container -->
</section>

<!-- Recommendations -->
<section class="recommendations">
  <center>
    <div class="content">
      <%= image_tag('quotation-mark.png', class: "quote-mark") %>
      <h2>RECOMMENDATIONS</h2>
      <hr>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <p class="recommendation">Heba has been an important part of our team, taking the lead on front end work, communicating directly with clients with confidence and ease, as well as helping train new team members in front end design/development.</p>

          <p class="author">Nils Larsstuen - Managing Director/Co-founder at UTEENI</p>
        </div>

        <div class="item">
          <p class="recommendation">We had the pleasure of working with Heba as our front end developer in large customer projects where she showed great initiative and skills in web development, UX/UI design, and project management roles. She is responsible and quickly takes lead in a project.</p>

          <p class="author">Benjamin Fauchald - CEO at Connectica</p>
        </div>

        <div class="item">
          <p class="recommendation">Heba has been a great addition to our team. She is always keen to learn and has been an important part on many school and agency projects. Heba is always happy to help and she has been very helpful in training new team members.</p>
          <p class="author">Carl Heaton - Managing Director at WCB</p>
        </div>
      </div>

      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- end of carousel -->

  </center>
</section>
<!-- End of recommendations -->
