<section class="project-header uteeni-header">
  <center>
    <div class="content trigger">
      <h3>PROJECT</h3>
      <h1>UTEENI
      </h1>
      <hr>
      <%= image_tag('projects/development-white.png', class: 'development-icon') %>
      <%= image_tag('projects/responsive-white.png', class: 'responsive-icon') %>
      <%= image_tag('projects/design-white.png', class: 'design-icon') %>
    </div>
  </center>
</section>

<section class="project-content uteeni-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 about text">
        <h2>ABOUT</h2>
        <p>UTEENI is a business directory service that lets business owners register their business and services so they can be found online.</p>
        <p>In collaboration with a team of backend developers and designer, this project took 6 months until its first release in May 2016.</p>
      </div>

      <div class="col-sm-6">
        <%= image_tag('projects/uteeni-home.png', class: "img-responsive") %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 ">
        <%= image_tag('projects/uteeni-listings.png', class: "img-responsive uteeni-listing") %>
      </div>
      <div class="col-sm-6 text skills">
        <h2>SKILLS</h2>
        <p>
          <ul>
            <li>Frontend web development (HTML, CSS, JavaScript, Ruby on Rails)</li>
            <li>responsive design and development<li>
            <li>UX design</li>
            <li>user testing</li>
            <strong>Design and backend development is credited to the UTEENI team.</strong>
          </ul>
        </p>
      </div>
    </div>

    <div class="row table-row">
      <div class="col-sm-6 challenges text table-column">
        <h2>CHALLENGES</h2>
        <p>This was my first Rails project, so I had to familiarize with and feel comfortable using Ruby on Rails on the frontend, pull and send data, and build forms.</p>
      </div>
      <div class="col-sm-6 table-column">
        <%= link_to "view www.uteeni.com", 'http://www.uteeni.com', target: "_blank", class: "view-site" %>
      </div>
    </div>
  </div>
</section>

<%= render 'partials/portfolio_more_2' %>
