<!DOCTYPE html>
<html>
<head>
  <title>MyPortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <!-- Raleway font -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,500,600,700' rel='stylesheet' type='text/css'>

</head>
<body>
  <%= render 'partials/navbar' %>

<%= yield %>

</body>
</html>
